<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Details</title>
</head>
<body class="anime-det-body">
    <div class="anime-det-container">
        <div class="anime-det-img">
            <img src="<%= anime.Image %>" alt="<%= anime.Name %>">
        </div>
        <div class="anime-det-info">
            <h1><%= anime.Name %></h1>
            <p>Episodes: <%= anime.Episode %></p>
            <p>Genre: <%= anime.Genre %></p>
            <p>Status: <%= anime.Status %></p> 
            <p><%= anime.description %></p>
            <!-- <p>Rating: <%= anime.rating %></p> 
            <p>Year: <%= anime.year %></p> 
             <p>Season: <%= anime.season %></p> 
             <p>Studio: <%= anime.studio %></p>             
            <p>Source: <%= anime.source %></p> 
            <p>Duration: <%= anime.duration %></p> 
            <p>Trailer: <a href="<%= anime.trailer %>" target="_blank">Watch Trailer</a></p> -->
             <form action="./anime-det.ejs" method="POST">
            <input type="hidden" name="animeId" value="<%= anime.Id %>">
            <button class="btn">add to favourites</button>
        </form> 
        </div>
    </div>
    <div class="anime-det-btns">
        <a href="<%= anime.View%>" class="btn">hi anime</a>
        <% if (anime['9ANIME']) { %>
            <a href="<%= anime['9ANIME'] %>" class="btn">9ANIME</a>
        <% } %>
        <!-- <form action="/anime/delete/<%= anime._id %>?_method=DELETE" method="POST">
            <button class="btn">Delete</button>
        </form> -->
    </div>
    <!-- <a href="/anime" class="btn">Back</a> -->
    <style>
        .anime-det-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #0D1B2A;
            font-family: 'Roboto', sans-serif;
        }
        .anime-det-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 70%;
            background-color: #1E2A38;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            color: white;
            padding: 20px;
            box-shadow: 0PX 0PX 15PX cyan;
        }
        .anime-det-content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
        }
        .anime-det-img {
            width: 28%;
            height: 700px; /* Set a fixed height for the images */
            border-radius: 15px;
            overflow: hidden;
            margin-right: 20px;
        }
        .anime-det-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .anime-det-info {
            width: 70%;
            padding: 20px;
            font-size: 20px;
        }
        .anime-det-container h1 {
            margin-top: 0;
            font-size: 42px;
            font-weight: 700;
            line-height: 1.2;
        }
        .anime-det-btns {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .btn {
            padding: 10px 20px;
            margin: 0 10px 20px 10px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 20px;
        }
        .btn:hover {
            background-color: #0056b3;
        }

        @media (max-width: 768px) {
            .anime-det-container { 
                width: 80%;
                height: 95%;
            }

            .anime-det-img {
                margin-top: 20px;
                width: 300px;
                height: 450px;  
                background-size: cover;
            }
            .anime-det-info {
                width: 90%;
                font-size: 4vmin;
            }
          
            .anime-det-container h1 { font-size: 6vmin; }

            .anime-det-btns { 
                font-size: 1vmin;
                padding: 1vmin;
             }

            .btn {
                padding: 2vmin 3vmin;
                font-size: 3vmin;  }

        }
    </style>
</body>
</html>
