<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Details</title>
  <link rel="stylesheet" href="/public/animedet2.css">
</head>
<body class="anime-det-body">
    <div class="anime-det-container">
        <div class="anime-det-img">
            <img src="<%= anime.Image %>" alt="<%= anime.Name %>">
        </div>
        <div class="anime-det-info">
            <h1><%= anime.Name %></h1>
            <p>Episodes: <%= anime.episodes %></p>
            <p>Genre: <%= anime.genre %></p>
            <p>Status: <%= anime.status %></p> 
            <p><%= anime.description %></p>
            <!-- <p>Rating: <%= anime.rating %></p> 
            <p>Year: <%= anime.year %></p> 
             <p>Season: <%= anime.season %></p> 
             <p>Studio: <%= anime.studio %></p>             
            <p>Source: <%= anime.source %></p> 
            <p>Duration: <%= anime.duration %></p> 
            <p>Trailer: <a href="<%= anime.trailer %>" target="_blank">Watch Trailer</a></p> -->
             <form action="./liked" method="POST">
            <input type="hidden" name="animeId" value="<%= anime.Id %>">
            <button class="btn">add to favourites</button>
        </form> 
        </div>
    </div>

<h2 class="watch-links-heading">Watch Links</h2>

    <div class="anime-det-btns">
        <a href="<%= anime.View%>" class="btn">hi anime</a>
        <% if (anime['9ANIME']) { %>
            <a href="<%= anime['9ANIME'] %>" class="btn">9ANIME</a>
        <% } %>
        <!-- <form action="/anime/delete/<%= anime._id %>?_method=DELETE" method="POST">
            <button class="btn">Delete</button>
        </form> -->
    </div>
    <!-- <a href="/anime" class="btn">Back</a> -->
 
   
</body>
</html>
